@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

<div class="login-center">
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login With Google</a>
</div>