@model HomeMicroservices.Models.Inventory
@section Scripts
{
    <script src="@Url.Content("~/js/Inventory.js")"></script>
}

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fields" class="control-label"></label>
                <div>
                    <a id="AddFieldButton" href="JavaScript:void(0)">Add Field</a>
                </div>
                <table id="FieldList" class="table">
                    <thead>
                        <tr id="FieldListHeaders"></tr>
                    </thead>
                    <tbody>
                        <tr id="FieldListBody"></tr>
                        <tr id="FieldListRemoveButtons"></tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>